# Sistema operativo
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
git
# Archivos temporales
*.log
*.tmp
*.temp
*.bak
*.swp

# Configuraciones locales
.env
.env.*

# Archivos de empaquetado y dependencias que no se usan en este portfolio
node_modules/
package-lock.json
yarn.lock

# Archivos generados de build (si se agrega un flujo de compilación en el futuro)
build/
dist/

# Archivos de copia de seguridad
*.zip
*.rar
*.7z
